{% extends "base.html" %}

{% block content %}
    <form>
      <div class="form-group">
        <label>ID</label>
        <input class="form-control" value="{{ task.id }}" readonly>
      </div>
      <div class="form-group">
        <label>Тема</label>
        <input class="form-control" value="{{ task.theme }}" readonly>
      </div>
      <div class="form-group">
        <label>Текст</label>
          <textarea class="form-control" rows="5" readonly>{{ task.text }}</textarea>
      </div>
    </form>
{% endblock %}